---
layout: default
---

<div class="homepage">

  <header class="team-header">
    <h1 class="team-title">{{ site.title }}</h1>
  </header>

  <section class="team-about">
    <p>Check out the sidebar for more information about our team!</p>
  </section>

  <div class="team-photo-container">
    <img src="/assets/img/team-photo.jpg" alt="{{ site.title }} Team Photo" class="team-photo">
  </div>

  <section class="sponsors">
    <h3 class="sponsors-title">Proudly Sponsored By</h3>
    <div class="sponsors-grid">
      <div class="sponsor-top">
        <img src="/assets/img/sponsor-top.png" alt="Title Sponsor">
      </div>
      <div class="sponsors-sides">
        <div class="sponsor-sides">
          <img src="/assets/img/sponsor-left.png" alt="Sponsor Left">
        </div>
        <div class="sponsor-sides">
          <img src="/assets/img/sponsor-right.png" alt="Sponsor Right">
        </div>
      </div>
      <div class="sponsors-bottom">
        <div class="sponsor-bottom">
          <img src="/assets/img/sponsor-bottom-left.png" alt="Bottom Sponsor Left">
        </div>
        <div class="sponsor-bottom">
          <img src="/assets/img/sponsor-bottom-right.png" alt="Bottom Sponsor Right">
        </div>
      </div>
    </div>
  </section>
</div>
